body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
  }
  h2 {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 16px;
  }
  h3 {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 16px;
  }
  h4 {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 16px;
  }
  p {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 90%;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 2;
    text-indent: 30px;
  }
  a{
    font-family: Verdana, Geneva, sans-serif;
  }
  a:link {
    color: blue;
    text-decoration: none;
  }
  a:visited {
    color: purple;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    color: red;
    text-decoration: underline;
  }
  ol {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 200%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
  }
  li {
      float: left;
      font-family: Verdana, Geneva, sans-serif;
    }
  li a {
    font-family: Verdana, Geneva, sans-serif;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: black;
  }
  li a:hover {
      background-color: antiquewhite;
      text-decoration: none;
  }
  li a:link{
      text-decoration: none;
  }
table.center {
    margin-left: auto;
    margin-right: auto;
}
table{
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    padding: 16px;
    border: 1px solid black;
    background-color: aquamarine;
}
td {
    padding: 16px;
    border: 1px solid black;
    background-color: aliceblue;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
figcaption.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 5px;
    font-size: 80%;
}